{% extends "layouts/page.njk" %}

{% block content %}
    <h1 class="govuk-heading-l">Services</h1>

  {% if services and services | length %}
    {% for service in services %}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h2 class="govuk-heading-m">{{ service.label }}</h2>
          {% if service.heading %}
          <p class="govuk-body">{{ service.heading }}</p>
          {% endif %}
        </div>
        <div class="govuk-grid-column-one-quarter">
          {% set rolesToAdd = availableRoles | filterByKeyValue("serviceKey", service.key) | first %}
          {% if rolesToAdd.roles.length > 0 %}
            {{ govukButton({
              text: "Add roles",
              href: "/register/" + service.key
            }) }}
          {% endif %}
        </div>
      </div>

      <div class="govuk-grid-row tile-grid">
        {% set allowedServiceRoles = roles | filterByKeyValue("services", service.key) %}
        {% for serviceRole in registeredRoles %}
          {% set roleDetails = roles | filterByKeyValue("key", serviceRole.key) | first %}
          {% if roleDetails and roleDetails.services and service.key in roleDetails.services %}
            <div class="govuk-grid-column-one-third">
              <div class="govuk-summary-card govuk-!-margin-bottom-6">
                <div class="govuk-summary-card__title-wrapper">
                  <h4 class="govuk-summary-card__title">{{ roleDetails.label }}</h4>
                </div>
                <div class="govuk-summary-card__content">
                  <p class="govuk-body">Access the service as a {{ roleDetails.label | lower }}.</p>
                  <div class="govuk-button-group">
                    {{ govukButton({
                      text: "Login",
                      href: "/login/" + service.key + "/" + serviceRole.key
                    }) }}
                    {{ govukButton({
                      text: "Role details",
                      classes: "govuk-button--secondary",
                      href: "/config/" + service.key + "/" + serviceRole.key
                    }) }}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  {% else %}
    <p class="govuk-body">No services available.</p>
  {% endif %}
{% endblock %}
