.DS_Store
.npm/
.vscode
.idea
.public
node_modules
npm-debug.log
coverage
.cache
.envrc
tsconfig.tsbuildinfo
.env
certs/fakelocal*
certs/localhost*
src/client/stylesheets/application.css
test-site/src/client/stylesheets/application.css
