{% extends 'layouts/page.njk' %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="/delegation" class="govuk-back-link">Back</a>

      {% if errors.email %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: errors.email,
              href: "#email"
            }
          ]
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">{{ heading }}</h1>

      <form method="post" action="/delegation/create">
        <input type="hidden" name="crumb" value="{{ crumb }}">

        {{ govukInput({
          label: {
            text: "Email"
          },
          id: "email",
          name: "email",
          type: "email",
          value: formValues.email,
          spellcheck: false,
          autocomplete: "email",
          errorMessage: ({ text: errors.email } if errors.email),
          classes: "govuk-input--width-20"
        }) }}


        <p class="govuk-body govuk-!-margin-top-9">Your delegate will receive an email invitation from the Livestock Information Service at the end of this process</p>
        <p class="govuk-body govuk-!-margin-bottom-9">If the user does not have a GOV.UK One Login credential then they will be asked to set this up before they are able to accept the invitation.</p>


        {{ govukButton({
          text: "Continue"
        }) }}

        <p class="govuk-body"><a href="/delegation" class="govuk-link">Cancel</a></p>
      </form>
    </div>
  </div>
{% endblock %}
