{% extends 'layouts/page.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "cph-checkboxes/macro.njk" import appCphCheckboxes %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="/delegation" class="govuk-back-link">Back</a>

      {% if errors.cphs %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: errors.cphs,
              href: "#cphs"
            }
          ]
        }) }}
      {% endif %}

      {% if flash %}
        {% if flash.success %}
          {{ govukNotificationBanner({
            type: "success",
            html: "<h3 class=\"govuk-notification-banner__heading\">Delegate access updated</h3>"
          }) }}
        {% elif flash.failedAdds.length or flash.failedRevokes.length %}
          {% set bannerHtml %}
            <h3 class="govuk-notification-banner__heading">
              {% if flash.failedAdds.length and flash.failedRevokes.length %}
                Some changes to delegate access could not be saved
              {% elif flash.failedAdds.length %}
                Some holdings could not be added
              {% else %}
                Some holdings could not be removed
              {% endif %}
            </h3>
            {% if flash.failedAdds.length %}
              <p class="govuk-body govuk-!-margin-bottom-1">The following could not be added:</p>
              <ul class="govuk-list govuk-list--bullet">
                {% for cph in flash.failedAdds %}
                  <li>{{ cph }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            {% if flash.failedRevokes.length %}
              <p class="govuk-body govuk-!-margin-bottom-1">The following could not be removed:</p>
              <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                {% for cph in flash.failedRevokes %}
                  <li>{{ cph }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            <p class="govuk-body govuk-!-margin-bottom-0">Try again below, or <a href="/contact" class="govuk-notification-banner__link">contact support</a> if the problem continues.</p>
          {% endset %}
          {{ govukNotificationBanner({ html: bannerHtml }) }}
        {% endif %}
      {% endif %}

      <h1 class="govuk-heading-l">{{ heading }}</h1>

      <p class="govuk-body">
        Confirm the county parish holdings that can be managed on your behalf for the following delegate or remove the delegate entirely:
      </p>

      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">{{ delegated_user_email }}</dd>
          <dd class="govuk-summary-list__actions">
            <a href="/delegation/{{ delegated_user_id }}/delete" class="govuk-link">Remove</a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">County Parish Holding Numbers:</h2>

      <form method="post" action="/delegation/{{ delegated_user_id }}/manage">
        <input type="hidden" name="_csrf" value="{{ _csrf }}">
        {{ appCphCheckboxes({
          caption: "County Parish Holding Numbers",
          checkboxItems: checkboxItems,
          errorMessage: errors.cphs
        }) }}

        {{ govukButton({
          text: "Confirm"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
