{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <p class="govuk-body">Accept or reject invitations to manage the digital service on behalf of another user.</p>

  {% if invitations.length %}
    <table class="govuk-table">
      <caption class="govuk-visually-hidden">Pending invitations and available actions</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">CPH number</th>
          <th scope="col" class="govuk-table__header">From</th>
          <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for invitation in invitations %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ invitation.county_parish_holding_number }}</td>
            <td class="govuk-table__cell">{{ invitation.delegating_user_name }}</td>
            <td class="govuk-table__cell">
              <div class="govuk-button-group">
                <form method="post" action="/invitations/{{ invitation.id }}/accept">
                  <input type="hidden" name="crumb" value="{{ crumb }}">
                  {{ govukButton({
                    text: "Accept",
                    classes: "govuk-!-margin-bottom-0"
                  }) }}
                </form>
                <form method="post" action="/invitations/{{ invitation.id }}/reject">
                  <input type="hidden" name="crumb" value="{{ crumb }}">
                  {{ govukButton({
                    text: "Reject",
                    classes: "govuk-button--warning govuk-!-margin-bottom-0"
                  }) }}
                </form>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="govuk-body">You have no pending invitations.</p>
  {% endif %}
{% endblock %}
