{% extends 'layouts/page-base.njk' %}

{% block content %}
{#  {% if errorSummary %}#}
{#    {{ govukErrorSummary({#}
{#      titleText: "There is a problem",#}
{#      errorList: errorSummary#}
{#    }) }}#}
{#  {% endif %}#}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Application for roles in {{ serviceDetails.label }}</h1>
      <p class="govuk-body">Below are the roles that are available in {{ serviceDetails.label }}. Please select a role and then click on register. Our team will contact you when your application has been processed.</p>
      <form method="post" action="/register/{{ serviceDetails.key }}">
        {{ govukRadios({
          idPrefix: "choice",
          name: "choice",
          fieldset: {
            legend: {
              text: "Which role do you want to apply for:",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          errorMessage: choiceError,
          items: listRows
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Register"
          }) }}
          {{ govukButton({
            text: "Back to Dashboard",
            classes: "govuk-button--secondary",
            href: "/dashboard"
          }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
