{% extends 'layouts/page-base.njk' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Requested submitted",
        html: "Your reference number<br><strong>" + requestId.toUpperCase() + "</strong>"
      }) }}

      <div class="govuk-button-group">
        <a class="govuk-button govuk-button--secondary" href="/dashboard">Back to dashboard</a>
      </div>
    </div>
  </div>
{% endblock %}
