.tile-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;

  .govuk-grid-column-one-third {
    display: flex;
    float: none;
    width: 100%;
  }

  .govuk-summary-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    min-height: 230px;
  }

  .govuk-summary-card__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
  }

  .govuk-button-group {
    margin-top: auto;
  }
}
