{% extends 'layouts/page.njk' %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-body" data-testid="app-page-body">
        {% if errors.scopes %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: errors.scopes,
                href: "#scopes"
              }
            ]
          }) }}
        {% endif %}

        <form method="post">
          <input type="hidden" name="scopes" value="openid">
          {{ govukCheckboxes({
            idPrefix: "scopes",
            classes: "govuk-checkboxes--small",
            name: "scopes",
            fieldset: {
              legend: {
                text: "Which scopes to use?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "Select all that apply"
            },
            errorMessage: ({ text: errors.scopes } if errors.scopes),
            items: scopeItems
          }) }}
          <hr>
          <h2 class="govuk-heading-s">Trigger logon on ISH</h2>
          {{ govukButton({
              text: "Login",
              type: "submit",
              disabled: login_token_present,
              attributes: {
                formaction: "/login"
              }
          }) }}
          <pre>{{ logon_response | trim }}</pre>
          <hr>
          <h2 class="govuk-heading-s">Use refresh token on ISH</h2>
          {{ govukButton({
              text: "Refresh token",
              type: "submit",
              disabled: not login_token_present,
              attributes: {
                formaction: "/refresh"
              }
          }) }}
          <hr>
          <h2 class="govuk-heading-s">Get user context</h2>
          {{ govukButton({
              text: "Context",
              type: "submit",
              disabled: not login_token_present,
              attributes: {
                formaction: "/context"
              }
          }) }}
          <pre>{{ context_response }}</pre>
          <hr>
          <h2 class="govuk-heading-s">Trigger signout on ISH</h2>
          {{ govukButton({
              text: "Signout",
              type: "submit",
              disabled: not login_token_present,
              attributes: {
                formaction: "/signout"
              }
            }) }}
          <pre>{{ logout_response }}</pre>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
