{% extends 'layouts/page-base.njk' %}

{% block content %}
  <div class="govuk-main-wrapper--auto-spacing">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sign in using Government Gateway</h1>

        <form onsubmit="event.preventDefault(); loginWithForm();" class="govuk-!-margin-bottom-9">
          <div class="govuk-form-group">
            <label class="govuk-label" for="user_id">User email</label>
            <div class="govuk-hint" id="user_id-hint">The registered email address.</div>
            <input
              class="govuk-input govuk-!-width-one-half"
              id="user_id"
              name="user_id"
              type="text"
              aria-describedby="user_id-hint"
              value="{{ defaultUserId }}"
              autocomplete="username"
            >
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="password">Password</label>
            <input
              class="govuk-input govuk-!-width-one-half"
              id="password"
              name="password"
              type="password"
              value="{{ defaultPassword }}"
              autocomplete="current-password"
            >
          </div>

          <button class="govuk-button" data-module="govuk-button">Sign in</button>
        </form>

        <p class="govuk-body">Use the provided 12 digit user ID and password as a placeholder to continue.</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {{  super() }}
  <script src="https://cdn.auth0.com/js/auth0/9.18/auth0.min.js"></script>
  <script src="/assets/js/login.js"></script>
{% endblock %}
