{% extends 'layouts/page-base.njk' %}

{% block content %}
  <h1 class="govuk-heading-xl">Service Login</h1>

  <p>This is the SSO token that should be issued to the consumer.</p>
  <div class="govuk-grid-column-full">
    <pre class="wrapper">{{sso}}</pre>

    <p>This is the decoded token</p>
    <pre>{{decodedToken | dump}}</pre>

  </div>

  <a class="govuk-button govuk-button--secondary" href="/dashboard">Back to dashboard</a>

{% endblock %}

