@use "govuk-frontend" as *;

// Example namespaced custom element style CSS classes

.app-main-wrapper {
  display: block;
  padding-top: govuk-spacing(4);
  padding-bottom: govuk-spacing(3);
}

.jwt-token {
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: anywhere;
}
